.header-toggle {
    color: #30203d;
    background-color: white;
    border: 1px solid #30203d;

    padding: 8px 12px;
    margin-left: 10px;

    cursor: pointer;
    font-size: 14px;

    transition: 0.5s;
}

.header-toggle:hover {
    background-color: #245B66;
    color: white;
}



header.collapsed {
    padding-top: 10px;
    padding-bottom: 10px;
}

header.collapsed nav {
    max-height: 0;
    opacity: 0;
}

main p {
    max-width: 800px;
    line-height: 1.6;
}

main div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin-top: 20px;
}

main button {
    color: #30203d;
    background-color: white;
    border: 1px solid #30203d;
    padding: 12px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

main button:hover {
    background-color: #245B66;
    color: white;
}

@media only screen and (min-width: 1025px) {
    main div {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
